
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   margin-left: 15%;
   margin-right: 15%;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
}

/*** TOPHEADER MENU NAV ***/

.topheader {
   display: inline;
   position: absolute;
   width: 100%;
   margin-top: 2%;
   background-color: white;
   font-family: sans-serif;
}
.logo {
   display: inline;  
}
.ul_enlaces {
   display: inline;
   padding: 1%;
   background-color: black;
}
.listenlaces {
   display: inline
}
.enlaces {
   color: #FFFFFF;
   text-decoration: none;
   padding: 1%;
}
.enlaces:hover {
   background-color: yellow;
}

/*** HEADER ***/

.header1 {
   display: inline;
   margin-top: 2%;
   font-family: Tahoma;
   padding: 2% 0% 2% 0%;
}
.article_header {
   text-align: center;
}
.banner {
}

/*** MAIN ***/

main {
   display: inline;
   height: fit-content;
   width: fit-content;
}

/*** ASIDE BARRA LATERAL ***/

.news {
   height: fit-content;
   background-color: #ffffff;
}

/*** SECTION CAMISETAS ***/

.principal {
   height: fit-content;
   width: fit-content;
}


/*** FOOTER ***/

.footer {
   display: inline-block;
   height: max-content;
   width: 100%;
   background-color: black;
}
.footer_text1 {
   display: inline;
   float: left;
   font-size: 90%;
   color: #f2f2f2;
   text-align: left;
   padding: 1%;
   margin-left: 10%;
}
.footer_text2 {
   display: inline;
   float: right;
   font-size: 90%;
   color: #f2f2f2;
   text-align: right;
   padding: 1%;
   margin-right: 10%;
}
