
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   margin-left: 10%;
   margin-right: 10%;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
}

/*** TOPHEADER MENU NAV ***/

.topheader {
   display: inline-block;
   height: max-content;
   width: 100%;
   padding-top:1%;
   padding-bottom: 2%;
   padding-right: 2%;
   background-color: white;
   font-family: sans-serif;
}
.logo {
   display: inline;
   float: left;
}
.ul_enlaces {
   display: inline;
   padding: 2%;
   background-color: black;
}
.listenlaces {
   display: inline;
}
.enlaces {
   color: #FFFFFF;
   text-decoration: none;
}
.listenlaces:hover {
   background-color: #00c3ff;
}

/*** HEADER ***/

.header1 {
   background: linear-gradient(#c2f9ff,#00b7ff, #c2f9ff);
   text-align: left;
   font-family: Tahoma;
   padding: 3%;
}

/*** MAIN ***/

main {
   display: inline-flex;
   height: fit-content;
   width: fit-content;
}

/*** ASIDE BARRA LATERAL ***/

.barralateral {
   height: fit-content;
   background-color: #ffffff;
   padding-right: 4%;
   font-variant: small-caps;
}
.ul_categorias {
   margin-left: 20%;
   color: #00c3ff;
}
.h4_categorias {
   padding: 3%;
   background-color: #b5ecff;
}
.list_h4 {
   padding-left: 5%;
   padding-top: 5%;
   list-style: none;
}
.secciones {
   color: #000000;
}

/*** SECTION CAMISETAS ***/

.principal {
   height: fit-content;
   width: fit-content;
   background-color: #ffffff;
   padding: 3%;
}


/*** FOOTER ***/

.footer {
   display: inline-block;
   height: max-content;
   width: 100%;
   background-color: black;
}
.footer_text1 {
   display: inline;
   float: left;
   font-size: 90%;
   color: #f2f2f2;
   text-align: left;
   padding: 1%;
   margin-left: 10%;
}
.footer_text2 {
   display: inline;
   float: right;
   font-size: 90%;
   color: #f2f2f2;
   text-align: right;
   padding: 1%;
   margin-right: 10%;
}
