
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   margin-left: 15%;
   margin-right: 15%;
   background-color: white;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

/*** TOPHEADER MENU NAV ***/

.topheader {
   display: inline;
   background-color: white;
}
.logo {
   display: inline;
}
.ul_enlaces {
   float: right;
   padding: 15px;
   margin-top: 15px;
   background-color: black;
}
.listenlaces {
   display: inline;
}
.enlaces {
   color: #FFFFFF;
   text-decoration: none;
   padding: 16px;
}
.enlaces:hover {
   background-color: #ffcc33;
}

/*** HEADER ***/

.header1 {
   display: block;
   width: 100%;
   margin-top: 2%;
   font-family: Tahoma;
   border: 2px solid #ff6550;
}
.article_header {
   display: block;
   line-height: 140%;
   border: 2px solid #ff6550;
}
.banner {
   width: 100%;
   border: 2px solid #ff6550;
}

/*** MAIN ***/

main {
   display: inline;
   height: fit-content;
   width: fit-content;
}

/*** SECTION CAMISETAS ***/

.services {
   height: fit-content;
   width: 60%;
   padding: 2%;
   line-height: 140%;
}


/*** ASIDE BARRA LATERAL NEWS ***/

.news {
   height: fit-content;
   background-color: #ffffff;
}
time {
   padding: 10px;
   background-color: #ffcc33;
}
.article_news {
   display: inline-block;
}


/*** FOOTER ***/

.footer {
   display: inline-block;
   height: max-content;
   width: 100%;
   background-color: black;
}
.footer_text1 {
   display: inline;
   float: left;
   font-size: 90%;
   color: #f2f2f2;
   text-align: left;
   padding: 1%;
   margin-left: 10%;
}
.footer_text2 {
   display: inline;
   float: right;
   font-size: 90%;
   color: #f2f2f2;
   text-align: right;
   padding: 1%;
   margin-right: 10%;
}
