
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   max-width: 100%;
}
body {
   background-color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
}

/*** NAV ***/

.topheader {
   display: block;
   background-color: #050715;
   padding-top: 2.5%;
   padding-bottom: 2.5%;
   font-family: sans-serif;
   text-align: left;
}
.li_enlaces {
   display: inline-block;
   color: #FFFFFF;
   margin-left: 5%;
}
.enlaces {
   text-decoration: none;
   list-style: none;
   color: #FFFFFF;
}
.enlaces:hover {
   color: #5e3ad4;
}
.li_topheader {
   display: inline-block;
   text-decoration: none;
   list-style: none;
   margin-left: 5%;
}
.ul_desplegable {
   display:none;
   position:absolute;
   color: #FFFFFF;
   text-decoration: none;
   list-style: none;
   padding-top: 1em;
   padding-right: -10%;
}
.li_desplegable {
   background-color: #050715;
   padding: 15%;
}
.desplegable {
   text-decoration: none;
   list-style: none;
   color: #FFFFFF;
}
.desplegable:hover {
   color: #5e3ad4;
}

.li_topheader:hover > .ul_desplegable {
   display:block;
}
.twitter {
   display: flex;
   float: right;
   list-style: none;
   margin-right: 1%;
}
.facebook {
   display: flex;
   float: right;
   list-style: none;
   margin-right: 1%;
}
.twitter2 {
   display: none;
}
.facebook2 {
   display: none;
}
.checkbtn {
   display: none;
}
#check {
   display: none;
   transition: .5s;
}

@media (max-width: 900px) {
.checkbtn {
   display: block;
   margin: 0% 0% 0% 4%;
   transition-delay: 0ms;
   transition: 1s;
   width: 0;
}
.topheader {
   padding-top: 4%;
   padding-bottom: 5.5%;
}

.fas {
   color:#FFFFFF;
}
.ul_general {
   display: block;
   margin-top: -200%;
}
.li_topheader {
   width: 0;
}
.twitter {
   display: none;
}
.facebook {
   display: none;
}
.twitter2 {
   display: inline;
   float: right;
   margin-right: 1%;
}
.facebook2 {
   display: inline;
   float: right;
   margin-right: 1%;
}
#check:checked ~ .ul_general, .li_enlaces, .li_topheader {
   display: block;
   margin: 6% 0 2% 3%;
}
#check:checked ~ .checkbtn{
   transition: .5s;
   margin: 5% 0 0 6%;
}

}

/*** HEADER ***/


.header1 {
   background-image: url("images/fondo.jpg");
   background-attachment: fixed;
   background-size: cover;
   color: #FFFFFF;
   font-family: sans-serif;
   background-repeat: no-repeat;
}

.titulo {
   font-family: sans-serif;
   font-size: 150%;
   padding-top: 10%;
   margin-left: 22%;
   margin-right: 10%;
}
.mensaje {
   font-size: 450%;
   padding-bottom: 25%;
   margin-left: 22%;
   margin-right: 10%;
}
.boton {
   color: #FFFFFF;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   position: absolute;
   margin-top: -22%;
   background-color: #5e3ad4;
   font-size: 100%;
   padding: 0.7% 2%;
   border: black;
   margin-left: 22%;
   margin-right: 10%;
}
.boton:hover {
   background-color: #412796;
}

main {
   display: inline-block;
   height: fit-content;
   width: 100%;
}

/*** ASIDE ***/

.aside {
   clear: left;
   text-align: center;
   font-family: Tahoma;
   padding-top: 3%;
   padding-bottom: 3%;
}
.clasestitulo {
   display: inline-block;
   padding-bottom: 5%;
   font-size: 200%;
   font-family: Tahoma;
   color: #5e3ad4;
}
.clases {
   display: inline-block;
   margin-left: -40%;
   padding-top: 2%;
   padding-bottom: 2%;
   color: #5e3ad4;
   font-size: 220%;
}
.clases_mid {
   position: relative;
   left: 10%;
   display: inline-block;
   color: #5e3ad4;
   font-size: 140%;
}
.boton2 {
   margin-top: 2%;
   position: absolute;
   right: 8%;
   display: inline-block;
   color: #FFFFFF;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #5e3ad4;
   font-size: 100%;
   padding: 0.7% 2%;
   border: black;
}
.boton2:hover {
   background-color: #412796;
}
hr {
   margin-left: 8%;
   margin-right: 8%;
}


/*** SECTION ***/

.sobresection {
   display: inline-flex;
   margin-top: 1.5%;
   margin-bottom: 1.5%;
   width: 100%;
}
.fotoinfo {
   width: 100%;
   background-image: url("images/fondosobre.jpg");
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   margin-right: 1.5%;
}
.infoarticle {
   width: 60%;
   padding: 10%;
   color: #FFFFFF;
   background-color: #050715;
   font-size: 120%;
   font-family: sans-serif;
}
.botonsobre {
   margin-top: 5%;
   color: #FFFFFF;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #5e3ad4;
   font-size: 75%;
   padding: 2% 4%;
   border: black;
} 
.botonsobre:hover {
   background-color: #412796;
}


.tituloinfo {
   color: #FFFFFF;
   font-size: 200%;
   font-family: sans-serif;
}
.contacto {
   background-color: #5e3ad4;
   color: #FFFFFF;
   font-family: sans-serif;
   padding-top: 7%;
   padding-bottom: 7%;
   font-size: 110%;
   text-align: center;
}
.redes {
   display: inline-flex;
   justify-content: center;
   margin-bottom: 5%;
}
.redestitulo {
   text-align: center;
   margin-bottom: 5%;
   font-size: 200%;
   font-family: Tahoma;
   color: #5e3ad4;
}
.instagram1 {
   display: block;
   text-align: center;
   margin-bottom: 5%;
}
.instagram2 {
   display: block;
   justify-content: center;
   margin-bottom: 5%;
}


/*** FOOTER ***/

.footer {
   font-size: 85%;
   color: #FFFFFF;
   background-color: black;
   text-align: center;
   padding-top: 1%;
   padding-bottom: 1%;
}

/*** @media ZOOM ***/

@media (max-width: 750px) {

.fas {
   zoom: 90%;
}
.twitter2 {
   zoom: 90%;
}
.facebook2 {
   zoom: 90%;
}
.ul_general {
   zoom: 90%;
}
.header1 {
   zoom: 85%;
}
.sobresection {
   zoom: 90%;
}
.clases {
   zoom: 90%;
}
.clases_mid {
   zoom: 90%;
}
.clasestitulo {
   zoom: 90%;
}
.redestitulo {
   zoom: 90%;
}
.contacto {
   zoom: 90%;
}
.footer {
   zoom: 90%;
}

}

@media (max-width: 600px) {

.twitter2 {
   zoom: 85%;
}
.facebook2 {
   zoom: 85%;
}
.ul_general {
   zoom: 80%;
}
.header1 {
   zoom: 70%;
}
.sobresection {
   zoom: 80%;
}
.clases {
   zoom: 75%;
}
.clases_mid {
   zoom: 75%;
}
.clasestitulo {
   zoom: 75%;
}
.redestitulo {
   zoom: 75%;
}
.contacto {
   zoom: 80%;
}
.footer {
   zoom: 80%;
}
   
}

@media (max-width: 500px) {
.fas {
   zoom: 80%;
}
.twitter2 {
   zoom: 75%;
}
.facebook2 {
   zoom: 75%;
}
.ul_general {
   zoom: 75%;
}
.header1 {
   zoom: 60%;
}
.sobresection {
   zoom: 70%;
}
.clases {
   zoom: 65%;
}
.clases_mid {
   zoom: 65%;
}
.clasestitulo {
   zoom: 65%;
}
.redestitulo {
   zoom: 65%;
}
.contacto {
   zoom: 70%;
}
.footer {
   zoom: 70%;
}
   
}
