
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body {
   background-color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
 }

 
/*** NAV ***/

.topheader {
   display: block;
   background-color: #050715;
   padding-top: 2.5%;
   padding-bottom: 2.5%;
   font-family: sans-serif;
   text-align: left;
}
.li_enlaces {
   display: inline-block;
   color: #FFFFFF;
   margin-left: 5%;
}
.enlaces {
   text-decoration: none;
   list-style: none;
   color: #FFFFFF;
}
.enlaces:hover {
   color: #5e3ad4;
}
.li_topheader {
   display: inline-block;
   text-decoration: none;
   list-style: none;
   margin-left: 5%;
}
.ul_topheader {
   display:none;
   position:absolute;
   color: #FFFFFF;
   text-decoration: none;
   list-style: none;
   padding-top: 1em;
}
.li_desplegable {
   background-color: #050715;
   padding: 15%;
}
.desplegable {
   text-decoration: none;
   list-style: none;
   color: #FFFFFF;
}
.desplegable:hover {
   color: #5e3ad4;
}
.li_topheader:hover > .ul_topheader {
   display:block;
}
.twitter {
   display: flex;
   float: right;
   list-style: none;
   margin-right: 1%;
}
.facebook {
   display: flex;
   float: right;
   list-style: none;
   margin-right: 1%;
}
 
 /*** ASIDE ***/
 
 .aside {
   background-color: #050715;
   text-align: center;
   font-family: Tahoma;
   padding-top: 3%;
   padding-bottom: 5%;

 }
 .clasestitulo {
   display: inline-block;
   padding-bottom: 5%;
   font-size: 240%;
   font-family: Tahoma;
   color: #FFFFFF;
 }
 .clases {
   display: inline-block;
   padding-bottom: 2.5%;
   color: #FFFFFF;
   font-size: 150%;
 }
 .clases_mid {
   margin-top: 2.5%;
   display: inline-block;
   position: relative;
   left: 7%;
   color: #FFFFFF;
   font-size: 90%;
   text-align: left;
 }
 .boton2 {
   margin-left: 12%;
   display: inline-block;
   color: #FFFFFF;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #5e3ad4;
   font-size: 100%;
   padding: 0.7% 1.8%;
   border: black;
 }
 .boton2:hover {
   background-color: #412796;
}
 hr {
   margin-left: 30%;
   margin-right: 30%;
}
 
 /*** SECTION ***/
 
 .section {
   width: 100%;
}

 .sobresection {
   display: inline-flex;
   margin-top: 1.5%;
   margin-bottom: 1.5%;
   width: 100%;
}
.fotoinfo {
   width: 100%;
   background-image: url("images/fondosobre.jpg");
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   margin-right: 1.5%;
}
.tituloinfo {
   color: #FFFFFF;
   font-size: 200%;
   font-family: sans-serif;
}
.infoarticle {
   float: right;
   width: 60%;
   padding: 10%;
   color: #FFFFFF;
   background-color: #050715;
   font-size: 120%;
   font-family: sans-serif;
}



.sobresection2 {
   display: flex;
   margin-bottom: 1.5%;
   width: 100%;
}
.fotoinfo2 {
   background-image: url("images/trainer1.png");
   background-repeat: no-repeat;
   background-size: 100%;
   width: 40%;
}
.tituloinfo2 {
   color: #5e3ad4;
   font-size: 200%;
   font-family: sans-serif;
}
.infoarticle2 {
   float: left;
   width: 60%;
   padding: 8%;
   color: #5e3ad4;
   font-size: 120%;
   font-family: sans-serif;
   margin-right: 1.5%;
   box-sizing: border-box;
}




.contacto {
   background-color: #5e3ad4;
   color: #FFFFFF;
   font-family: sans-serif;
   padding-top: 5%;
   padding-bottom: 5%;
   font-size: 120%;
   text-align: center;
}
 
 /*** FOOTER ***/
 
 .footer {
   font-size: 90%;
   color: #FFFFFF;
   background-color: black;
   text-align: center;
   padding-top: 0.8%;
   padding-bottom: 0.8%;
}
 